@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
}

window#waybar {
    background-color: shade(@crust, 0.9);
    border-bottom: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 7px 7px 12px 12px;
    box-shadow: inset 2px -3px alpha(@crust, 0.2);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

button:hover {
    background: inherit;
    box-shadow: inset 2px -3px alpha(@crust, 0.5);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button.visible {
    background: @mauve;
    color: @crust;
}

#workspaces button:hover {
    background: @overlay0;
    color: @text;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    border-radius: 7px 7px 12px 12px;
    box-shadow: inset 2px -3px alpha(@crust, 0.2);
    background-color: transparent;
    color: @text;
}
#window,
#workspaces {
    margin: 0 4px;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#clock {
}
#battery {
}
#battery.charging, #battery.plugged {
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #ff0000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
label:focus {
    background-color: #000000;
}
#network {
}
#network.disconnected {
    background-color: @red;
}
#tray {
    background-color: #456286;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
